modules = ["nodejs-20", "bash", "web", "nix", "go-1.21", "go-1.24", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0", "replitmail:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["postgresql_17", "chromium", "glib", "nspr", "nss", "dbus", "atk", "cups", "cairo", "pango", "mesa", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "libxkbcommon", "at-spi2-core", "at-spi2-atk", "alsa-lib", "libgbm", "imagemagick"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Production Server"

[[workflows.workflow]]
name = "Production Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:prod"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 5173

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37451
externalPort = 8000

[[ports]]
localPort = 38081
externalPort = 8099

[[ports]]
localPort = 39383
externalPort = 8008

[[ports]]
localPort = 39595
externalPort = 3000

[[ports]]
localPort = 42323
externalPort = 6000

[[ports]]
localPort = 44689
externalPort = 6800

[[ports]]
localPort = 45101
externalPort = 4200

[[ports]]
localPort = 46311
externalPort = 8081

[deployment]
deploymentTarget = "vm"
run = ["npm", "run", "start:prod"]
build = ["npm", "run", "build"]

[objectStorage]
defaultBucketID = "replit-objstore-5c7db24d-3f1a-48f3-a419-34323e1b5779"
